main {
	width: 840px;
	height: 600px;
	margin: 0 auto;
	position: relative;

	.wrapper-1col, .wrapper-2col {
		background: white;
		@include box-shadow(0px 0px 20px 2px $grey);
		position: absolute;
		top: 0;
		height: 600px;
	}

	.wrapper-1col{
		right: 0;
		width: 50%;
		cursor: pointer;
	}

	.wrapper-2col {
		left:0;
		display: none;
		width: 100%;

		> div {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

	}

	#page1, #page2, #page3 {
		padding: 2em;
		display: inline-block;
		vertical-align: top;
		height: 100%;
	}

	#page2, #page3 {
		width:50%;
	}

	#page1{
		width: 100%;
	}

	#page2 {
		font-size: 2em;
		text-align: center;

		p {
			font-family: $main-font;
			font-weight: normal;
			text-align: center;
			margin: 0;
		}

		img {
			width: 30%;
			margin-top: 0.7em;
		}

		.sign {
			font-family: $light-font;
			
			&:last-of-type {
				margin: 1em;
			}
		}

		.name {
			font-family: $black-font;
			text-transform: uppercase;
			font-size: 1.5em;
		}

		.date{
			font-size: 0.8em;
		}
	}

	.separation {
		position: absolute;
		left:50%;
		top:0;
		background-color: $grey;
		width: 2px;
		height: 100%;
		z-index: 10;
		@include box-shadow(0px 0px 20px 3px $grey);
	}

}